<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Styles/styles.css">
    <title>Footer media links</title>
</head> 

<footer>
    <section id="footer">
        <div class="ftr-flex">
            <a href="https://www.instagram.com/gandhi_param/">Instagram <img src="/Images/instagram-svgrepo-com.svg" height="16px"></a>
            <a href="https://www.youtube.com/@paramgandhi534">Youtube <img src="/Images/youtube-svgrepo-com.svg" height="16px"></a>
        </div>
      </section>
</footer>

</html>
