.bg{
    background-color: #E1F7F5;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: red;
}

h2{
    margin-left: 50px;
    margin-bottom: 30px;
    text-decoration: underline;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 100px;
}

.post{
    outline: 5px solid green;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
    background-color: #FDFFE2;
}

h3{
    text-align: center;
    color: black;
}

.post img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post:hover {
    background-color: #F2F0EF;
    text-decoration: underline;
    cursor: pointer;
  }

.newpost{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 5px dotted green;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
    height: 281.6px;
}

.newpost:hover{
    background-color: #FDFFE2;
    text-decoration: underline;
    cursor: pointer;
}

.ftr-flex{
    width: 100%;
    height: 40px;
    display: flex;
    border-top: 2px solid #021526;
    background-color: #C0EEF2;
    justify-content: space-around;
    align-items: center;
}

.ftr-flex a{
    text-decoration: none;
    color: #021526;
    font-size: 1.1em;
    text-align: center;
    opacity: 0.9;
}

.ftr-flex img{
    margin-bottom: 4px;
}

.ftr-flex a:hover {
    opacity: 1;
    text-decoration: underline;
  }

textarea.form-control {
    background-color: #E1F7F5;
  }

.uploadImg{
    height: 200px;
}

.smallInputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}